body {
  background-color: #181818;
  margin: 0;
  padding: 0;
  font-family: "Kaisei Tokumin", serif;
  font-family: "Spartan", sans-serif;
}

.navelement {
  background: #161616;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

nav a {
  color: #6930c3;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  background-color: #6930c3;
  color: #161616;
}

main {
  padding-top: 200px;
}

footer {
  background: #161616;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center;
  color: #6930c3;
}

@media (min-width: 413px) and (max-width: 768px) {
  body {
    background-color: #252525;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #252525;
  }
  nav li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: smaller;
  }
  nav a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1025px) {
  body {
    background-color: #252525;
  }
  nav li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  nav a {
    padding-left: 30px;
    padding-right: 30px;
  }
}
