body {
  background-color: #0a0a0a;
  color: #6a676d;
  margin: 0;
  margin-bottom: 6vh;
  padding: 0;
  font-family: "Kaisei Tokumin", serif;
  font-family: "Spartan", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #000000;
}

.navlist li {
  list-style: none;
}

.navlist a {
  color: #e412d9;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 13px;
  transition: color 2s;
}

.navlist a:hover {
  color: rgb(17, 184, 226);
}

.active {
  text-shadow: 1px 2px 2px rgb(17, 184, 226);
}

.name {
  color: #e412d9;
  font-size: 16px;
}

.navlist {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.wordpress a {
  text-decoration: none;
}

.wordpresstext img {
  width: initial;
  height: initial;
  width: 400px;
}

.modalimage {
  width: 700px;
}

.orientation {
  background-color: #413f44;
}

.orientation a {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: #949099;
}
.orientation p {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: #949099;
}

/* Indexpage */
.indexgrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% auto auto auto auto auto auto;
  grid-template-areas:
    "heading heading heading"
    "box1 box2 latestposts"
    "box3 box4 box5"
    "box6 box7 box8"
    "box9 box10 box11"
    "box12 box13 box14"
    "box15 . . ";
}

.heading {
  grid-area: heading;
  color: rgb(74, 76, 77);
  font-size: 35px;
  text-align: center;
}

.indexgrid p {
  margin: 40px;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
}
.box9 {
  grid-area: box9;
}
.box10 {
  grid-area: box10;
}
.box11 {
  grid-area: box11;
}
.box12 {
  grid-area: box12;
}
.box13 {
  grid-area: box13;
}
.box14 {
  grid-area: box14;
}
.box15 {
  grid-area: box15;
}

.latestposts {
  background-color: #0a0a0a;
  grid-area: latestposts;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(17, 184, 226);
}

.wordpress p {
  color: rgb(17, 184, 226);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Indexpage-end */

/* List of blogpostspage*/

.listofblogpostsgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "filter filter filter"
    "blogposts blogposts blogposts";
}

.filter {
  grid-area: filter;
}

.wordpresslistofblogposts {
  grid-area: blogposts;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

.wordpresspostsdiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #202022;
}

.wordpresspostsdiv a {
  text-decoration: none;
  color: #8d9ca0;
}

.wordpresspostsdiv p {
  max-width: 350px;
}

.search {
  margin-top: 13px;
  margin-bottom: 13px;
}

.search-button {
  background-color: #e412d9;
  color: #d8cece;
  border-style: none;
  padding: 7px 12px 7px 12px;
}

#search-input {
  background-color: rgb(74, 77, 80);
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 350px;
}

.per-page-selection {
  background-color: rgb(74, 77, 80);
  border-style: none;
  padding: 5px;
}

.categories {
  margin-top: 13px;
  margin-bottom: 13px;
}

.per-page {
  margin-top: 13px;
  margin-bottom: 13px;
}
/* List of blogpostpage-end */

/* Blogpostspecificpage */
.wordpress-specific-blog-div {
  display: grid;
  background-color: #202022;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% auto;
  grid-template-areas:
    "title title title"
    "blog blog blog";
}

.wordpress-specific-post-title {
  grid-area: title;
  text-align: center;
  font-size: 50px;
}

.wordpress-specific-content {
  text-align: center;
  margin: 0 auto;
  grid-area: blog;
  max-width: 600px;
  color: #8d9ca0;
}

.wordpress-specific-content img {
  width: initial;
  height: initial;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wordpress-specific-content p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-modal {
  display: none;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  text-align: center;
  padding-top: 13vh;
}

.modal-image-class {
  max-width: 400px;
}

/* Blogpostspecificpage-end */

/* About page */

/* About page-end */

.firstpreviousbutton {
  display: none;
}

.secondpreviousbutton {
  display: none;
}

.morebutton {
  display: none;
}

footer {
  background: #000000;
  position: fixed;
  bottom: 0;
  min-height: 6vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #6930c3;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 10px;
  transition: color 2s;
}

footer a:hover {
  color: rgb(17, 184, 226);
}

/* Contact page */
.form-error {
  display: none;
  color: rgb(238, 76, 70);
  font-size: 0.9rem;
  margin-top: 2px;
}

#returnmessage {
  padding: 1rem;
  color: rgb(101, 241, 101);
  margin-top: 1rem;
}

#contactForm {
  margin: 5rem;
}

#contactForm div {
}

#contactForm label {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#contactForm input {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6a676d;
  border-style: none;
}

.form-error {
  text-align: right;
}

#returnmessage {
  text-align: right;
}

.send-message-button {
  text-align: right;
}

#contactForm button {
  padding: 1rem;
  background-color: #6930c3;
  color: #181818;
  margin: 1rem;
  border-style: none;
}

#contactForm button:disabled {
  background: rgb(88, 87, 87);
  color: grey;
}

.your-message-class textarea {
  height: 120px;
  width: 70%;
  font-family: "Spartan";
  font-size: 12px;
  font-weight: bolder;
  background-color: #6a676d;
  border-style: none;
}

/* Contact page-end */

@media screen and (max-width: 1024px) {
  .navlist {
    width: 50%;
  }
  .navlist a {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  /*Specific blog page*/
  .modal-image-class {
    width: 100%;
  }
  /*Specific blog page-end*/
  footer {
    flex-direction: column-reverse;
  }
}
